.anim-text {
	transform: translateY(130%);
}
.anim-bg {
	opacity: 0;
}

.anim-img {
  transition: transform 1s ease;
}

.screen {
  &--0 .stage-1.anim-img {
    transform: scale(1.6) translate(-40%, -50%);
    @media $mDesktop {
      
    }
    @media $sDesktop {
      
    }
  }
  &--1 .stage-1.anim-img {
    transform: scale(2) translate(-3%, 0%);
  }
  &--1 .stage-2.anim-img {
    transform: scale(1.8) translate(-53%, -13%);
  }
  &--2 .stage-1.anim-img {
    transform: scale(1.5) translate(-18%, -17%);
  }
  &--3 .stage-1.anim-img {
    transform: scale(1.9) translate(0%, -16%);
  }
  &--3 .stage-2.anim-img {
    transform: scale(2) translate(-50%, 0%);
  }
  &--4 .stage-1.anim-img {
    transform: scale(1.8) translate(-28%, -8%);
  }
  &--5 .stage-1.anim-img {
    transform: scale(2) translate(0%, -27%);
  }
  &--5 .stage-2.anim-img {
    transform: scale(2.3) translate(-47%, -7%);
  }
}

.slide {
  &__product {
    opacity: 0;
    transition: opacity 0.3s;
  }

  &__trigger {
    opacity: 0;
    transition: opacity 0.3s;

    &.active {
      opacity: 1;
    }
  }
}

.anim-img.stage-out {
  transition: none;
}

.js-trigger {
  opacity: 0;
  transition: opacity 0.3s;

  &.active {
    opacity: 1;
    z-index: 10;
  }
}
.js-product {
  opacity: 0;
  transition: opacity 0.3s;

  &.active.open {
    opacity: 1;
    z-index: 10;
  }
}