.product {
	&__img {
    margin-bottom: vh(90);

    img {
      width: 100%;
    }
  }

  &__name {
    font: 30px/1.33 $font-base;
    margin-bottom: 2rem;
  }

  &__price {
    font: bold 40px/1 $font-util;
  }

  &__link {
    display: block;
    size(190px, 40px);
    border-radius: 20px;
    padding: 0 0.5rem;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    font: bold 24px/40px $font-util;
    text-transform: uppercase;
  }
}