include ../mixins
.header
  .header__logo.header__logo--elle
    +icon('elle')
  .l-container
    .header__logo.header__logo--cavalli
      img.img(src="build/img/logo-cavalli.png", alt="Roberto Cavalli")
    .header__text специальный проект